<template>
  <div>
    <input class="search" type="text" v-model="search" placeholder="Search Kdrama" />
    <div :key="kdrama.id" v-for="kdrama in filterDramas">
      <Drama :kdrama="kdrama" />
    
    </div>
  </div>
</template>

<script>
import Drama from "./Drama";
export default {
  name: "Dramalist",
  components: {
    Drama,
  },
  props: {
    kdramas: Array,
  },
  data() {
    return {
      search: "",
    };
  },
  computed: {
    filterDramas: function () {
      return this.kdramas.filter((kdrama) => {
        return kdrama.name.match(this.search);
      });
    },
  },
};
</script>

<style scoped>


.search{
    padding: 10px;
}
</style>