<template>
      <div class="drama">
    <h3 >{{ kdrama.name }}</h3>  
    <p >{{ kdrama.year}}</p>

  </div>
</template>

<script>
export default {
    name: 'Drama',
    props: {
        kdrama: Object
    }
}
</script>

<style scope>
.drama {
 
  padding: 10px 20px;
  border: 1px solid steelblue;
  margin: 5px;

    box-shadow: 5px 5px grey;
}
.content {
  position:relative;
}

.top{
  position:absolute;
  top:0;
  right:0;
}
</style>