<template>
<header>
    <h1 class="title">{{title}}</h1>
</header>

</template>

<script>

export default {
    name: 'Header',
    props:{
        title: String,
        color: String,
        titleColor: String
    },
    components: {
    }
}
</script>

<style scoped>
header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20;
}

</style>
