<template>
  <div :class="{ active: isDark }" id="container">
        <p>{{message}}</p>
    <button class="btn top { active: isDark }" @click="theme">Dark Mode</button>
    <Header title="K-Vue" style="text-align: center" />
    <Dramalist :kdramas="kdramas" />

  </div>
</template>

<script>
import Header from "./components/Header";
import Dramalist from "./components/Dramalist";
import { toggle } from './mixins/toggler'

export default {
  name: "App",
  mixins:[toggle],
  components: {
    Header,
    Dramalist,
  },
  data() {
    return {
      kdramas: [],
      message: "",
    };
  },

  watch: {
    isDark: function () {
      if (this.isDark) {
        alert("Changing to dark mode...");
      } else {
        alert("Changing to light mode...");
      }
    },
  },
  created() {
    this.kdramas = [
      {
        id: 1,
        name: "The World of the Married ",
        year: 2020,
      },
      {
        id: 2,
        name: "Sky Castle ",
        year: 2020,
      },
      {
        id: 3,
        name: "Crash Landing on You",
        year: 2020,
      },
      {
        id: 4,
        name: "Reply 1988",
        year: 2020,
      },
    ];
  },
};
</script>

<style>
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: "Poppins", sans-serif;
  background-color: white;
  height: 100%;
}
.content {
  position: relative;
}
.active {
  color: white;
  background-color: black;
}
.top {
  position: absolute;
  top: 0;
  right: 0;
}
#container {
  margin: auto;

  overflow: auto;
  height: 100vh;
  border: 1px solid steelblue;
  padding: 30px;
  border-radius: 5px;
  align-items: center;
}
.btn {
  display: inline;
  background: pink;
  color: black;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  margin: 40px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
}
.btn:focus {
  outline: none;
}
.btn:active {
  transform: scale(0.98);
}
.btn-block {
  display: block;
  width: 100%;
}
</style>

